.breadcrumbs {
	padding-bottom: 2.5em;

	> span {
		font-size: 1.6rem;
		font-weight: 400;
		padding: 0 .75em;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			font-size: 1.4em;
			font-weight: 700;
		}
	}

	.icon-arrow-right {
		font-size: .6em;
	}
}