form.edit-single-contact-block {

	input {
		background-color: rgba($shade1, .03);
		width: 100%;
		padding: .5em 1em;
		margin: .3em 0;
	}

	textarea {
		background: transparent;
		padding: .5em 0;
		min-height: 9em;
		width: 100%;
	}

	.icon-star {
		display: inline-block;
	}

	input[type=number] {		
		display: inline-block;
		width: auto;
		margin: 0;
		border: none;
		position: relative;
		top: -.5em;
	}

	input[type=submit] {
		display: inline-block;
		width: auto;
	}
}