.jtTableContainer table.jtrt-table {
	font-size: 1.5rem;
	font-weight: 800;
	color: $shade1;

	&.stackMeNowJT {

		tr {
			border: none;
			box-shadow: 0 0 0;
		}
	}

	tr {
		transition: background .3s;

		&:nth-child(odd) {
			background: darken($white, 3%);
		}

		&:nth-child(even) {
			background: $white;
		}

		&:hover {
			background: darken($white, 7%);
		} 

		&.footable-detail-row {

			td {
				padding: 0;

				table {
					margin: 0;

					tr {

						td,
						th {							
							padding: 1em;
						}
					}
				}
			}
		}

		td {
			padding: .5em;
			text-align: center;

			@include md {
				padding: 1em;
			}

			&:first-child {
				font-weight: 400;
				font-size: 1.2em;

				@include md {
					font-size: 1em;
					text-align: right;
				}

				span,
				br {
					display: none !important;

					&.visible {
						display: block !important;
					} 
				}
			}
		}
	}

	thead {
		color: $white;
		font-size: 1.1em;
		font-weight: 400;

		tr:nth-child(odd) {
			background-color: $shade1;

			th {
				padding: 1em;
				text-align: center;
			}
		}
	}

}

table.contact-table {
	font-size: 1.5rem;
	font-weight: 800;
	color: $shade1;
	width: 100%;
	margin-bottom: 1.5em;

	thead {
		background-color: $shade1;
		color: $white;
		font-size: 1.1em;
		font-weight: 400;

		position: absolute;
		padding: 0;
		border: 0;
		height: 1px; 
		width: 1px; 
		overflow: hidden;

		@media (min-width: 850px) {
			// Unhide <thead> on wide viewports
			position: relative;
			clip: auto;
			height: auto;
			width: auto;
			overflow: auto;
		}

		tr {

			th {
				padding: 1em 0;
				font-weight: 400;

				@media (min-width: 850px) {
					padding: 1em;
				}

				&:first-child {

					@media (min-width: 850px) {
						text-align: right;
					}
				}
			}
		}
	}

	tbody,
	tr,
	th,
	td {
		display: block;
		padding: 0;
		text-align: left;
		white-space: normal;
	}

	tr {

		@media (min-width: 850px) {
			// Undo display: block 
			display: table-row; 
		}
	}

	th,
	td {
		padding: .75em 1.5em;
		vertical-align: middle;

		@media (min-width: 850px) {
			// Undo display: block 
			display: table-cell;

		}
	}

	tbody {

		@media (min-width: 850px) {
			// Undo display: block 
			display: table-row-group; 
		}

		tr {
			padding: 1em 0;

			@media (min-width: 850px) {
				// Undo display: block 
				display: table-row;
			}

			&:last-of-type {
				margin-bottom: 0;
			}

			&:nth-of-type(odd) {
				background-color: rgba($shade1, .1);
				
				@media (min-width: 850px) {
					background-color: rgba($shade1, .1);
				}
			}

			&.section-title {
				background-color: rgba($shade1, .5);
				color: $white;

				@media (min-width: 850px) {
					background-color: rgba($shade1, .6);
				}

				th {
					font-weight: 700;
					text-align: center;

					@media (min-width: 850px) {
						padding: .1em 0;
					}
				}
			}
		}

		th[scope="row"] {
			font-weight: 900;
			text-transform: uppercase;

			@media (min-width: 850px) {
				text-align: right;
				text-transform: none;
			}
		}

		td {			
			font-weight: 400;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			border-bottom: 1px solid rgba($shade1, .1);

			@media (min-width: 850px) {
				display: table-cell;
				text-align: left; 
				border: 0;
			}

			&:first-of-type {
				
				span {					
					white-space: normal;
				}
			}

			&:last-child {
				border: 0;
			}

			&[data-title]:before {
				content: attr(data-title);
				width: 50%;
				font-weight: 700;

				@media (min-width: 850px) {
					// Don’t show data-title labels 
					content: none; 
					width: 100%;
				}
			}

			span,
			input,
			a {
				width: 50%;
				white-space: nowrap;

				@media (min-width: 850px) {
					width: auto;
				}
			}

			span {
				display: block;
			}

			input[type="checkbox"] {
				display: none;

				&:checked + label:after {
					max-width: 25px; /*an arbitratry number more than the icon's width*/
					opacity: 1; /*for fade in effect*/
				}
			}

			label {
				position: relative;
				padding-left: 5rem;
				font-size: 1.8rem;
				cursor: pointer;
				line-height: 1.25;

				&:before, 
				&:after {
					font-family: FontAwesome;
					position: absolute; 
					top: 0; 
					left: 0;
				}

				&:before {
					content: '\f096';
				}

				&:after {
					content: '\f046';
					max-width: 0;
					overflow: hidden;
					opacity: 0.5;
					transition: all 0.35s;
				}
			}
		}
	}
}