.wysiwyg{
    em{
        font-style: italic;
    }

    ul, ol{
        padding-left: 40px;
         margin: 0.5em auto;
    }

    ul{
        list-style-type: disc;
       

        ul{
            list-style-type: circle;
            padding-left: 20px;

            ul{
                list-style: square;
                padding-left: 40px;
            }
        }
    }

    ol{
        list-style-type: decimal;

        ol{
            list-style-type: decimal;
            padding-left: 20px;

            ol{
                list-style: decimal;
                padding-left: 40px;
            }
        }
    }

    

    .alignleft{
        float: left;
        margin: 1em 1em 1em 0;
    }

    .alignright{
        float: right;
        margin: 1em 0 1em 1em;
    }

    .aligncenter{
        margin: 1em auto;
    }

    a{
        text-decoration: underline;
    }

    p{
        font-weight: 300;
        margin: 0.5em auto;
    }

    table{
        thead{
            td{
                background-color: $shade5;
                color: $black;
                font-weight: 600;
                border: 1px solid $white;
                padding: 10px 15px;
            }
        }

        tfoot{
            tr{
                td{
                     font-weight: 600;
                     background-color: $shade5;
                     color: $black;
                }
            }
        }
    }

    strong, b{
        font-weight: 700;
    }

    h1, h1 strong, h1 em{
       font-weight: 700;
       font-size: 3.6rem;
       color: $black;
       margin: 0.7em 0;
       line-height: 1.3;
       font-style: normal;
    }

    h2, h2 strong, h2 em{
       font-weight: 700;
       font-size: 2.2rem;
       line-height: 1.3;
       color: $black;
       font-style: normal;
    }

    h3, h3 strong, h3 em{
        font-size: 2rem;
        font-weight: 400;
        color: $black;
        margin: 1em 0;
        font-style: normal;
    }

    blockquote, blockquote p{
        margin-left: 20px;
        font-style: italic;
    }

    .gform_body{
        ul{
            list-style: none;
            padding-left: 0;
        }
    }
}