
// ----------------------------------------------------
// VUE CHANGING STATE
nav.search-active{
	@extend .secondary-menu-state;
}

.search-active .top-banner-background{
	opacity: 0;
	height: 0;
}
.search-active .top-banner{
	height: auto;
	padding: 0;
	.logo.single-logo, .heading{
		display: none;
	}
	.search-container{

	}
}

.search-active .search-container{
	padding: 0;
    margin: 0 auto;
    background: transparent;
	.primary-searchbox{
		.basic-search-params{
			display: none;
		}
		.advanced-search-params{
			display: block;
    		.text.light{
    			display: none;
	    		@include xmd{
    				display: inline-block;
	    		}
    		}
		}
	}
	.secondary-searchbox{
		display: none;
		@include xmd{
			display: block;
		}
	}
}

.search-active .results{
	min-height: 50em;
	padding: 0;
	@inlcude transition(.4s);
}

.search-active .question-block{
	background: linear-gradient(to bottom,rgba(49, 35, 75, 0.8) 20%,rgba(49, 35, 75, 0.8)),url(../img/top-banner-background.jpg) center no-repeat;
	background-size: cover;
    background-position-y: 80%;
    padding: 0 3em 6em;
    .heading{
	    color: $white;
    }
}

.dropdownIsActive{
	
	ul{
		display: block;
		@include xmd{

		}
	}
	.fa{
		transform: rotate(180deg);
	}
}

.icon-favourite-active{
	color: $green!important;
}


.focus-blue{
	@include xmd{
		background: $darker-blue;
	}
}
.focus-gray{
	@include xmd{
		background: darken($lightest-gray, 2%);
	}
}



































