// ----------------------------------------------------
// JAVASCRIPT CHANGING STATE
.menu-is-active{
	height: 100vh!important;
}
.is-active{
	position: fixed!important;
	.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
		background: $white!important;
	}
}

.advanced-search-box-active{
	display: block;
}

.blurObject{
	filter: blur(5px);
	@include selectDisable;
	&:after{
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: auto;
		background: rgba(255, 255, 255, 0.75);
	}
}

.activeCheckboxValue{
	background: lighten($lightest-gray, 12%);
}

.hideanimation{
	opacity: 0;
	@include selectDisable();
	@include transition(.2s);
}
.showanimation{
	opacity: 1;
	@include selectEnable();
	@include transition(.2s);
}

.showparams-active{
	background: $darker-blue;
	.fa-sliders{
		transform: rotate(90deg);
	}
	@include mobile{
		span{color: $white;}
	}
}
.mobile-params-overlay-show{
	display: block;
	@include xmd{
		display: none;
	}
}
.stop-scrolling{
	overflow: hidden;
}