.not-frontpage {
	nav{
		@extend .secondary-menu-state;
		background: $white;
		ul a{
			color: $white;
			@include xmd{
				color: $darkest-blue;
			}
		}
		.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
			background: $darkest-blue;
		}
		&.myFavourites{
			background: $dark-blue;
		}
	}

    .search-active .logo.main-logo.main-logo-normal{
        display: block;
    }
	.main-logo-normal{
		display: none!important;
	}
	.main-logo-invert{
		display: block!important;
	}
}