.hidden {
	display: none !important;
	visibility: hidden;
}
.disable-scroll {
	overflow: hidden;
}

.single-logo-out-view{
	transform: translateX(50em);
}
.noPadding{
	padding: 0 !important;
}

.secondary-menu-state{
	.hamburger{
		top: 0.3em;
	}
	.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
		background: $black;
	}
	a{
		color: $white;
		@include xmd{
			color: $black;
		}
	}
	.myFavourites{
		color: $white;
		background: $light-blue;
		margin-top: 1.1em;
	}
	.menu-main-menu-container ul{
		margin-top: 1em;
		@include xmd{
			margin-top: .4em;
		}
	}
}

.activepage{
	font-weight: 700;
}

.text-center{
	text-align: center;
}