// 3. The Grid
// -----------

$use-flex: true;

$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-responsive-gutter: (
  small: 50em
);
$grid-column-align-edge: true;
$block-grid-max: 8;

$grid-fixed-width: 15rem;