// wysiwyg defaults
$wysiwyg-default-margin: .5em 0 2em;
$wysiwyg-default-padding-left: 2em;
$wysiwyg-max-width: 100%;

// wysiwyg fonts
$wysiwyg-font-color: $body-font-color;
$wysiwyg-font-size: $body-font-size;
$wysiwyg-lineheight: 1.5;

// wysiwyg blockquote
$wysiwyg-blockquote-background-color: $red;
$wysiwyg-blockquote-color: $white;
$wysiwyg-blockquote-margin: 2em;
$wysiwyg-blockquote-padding: 2em;

// wysiwyg tables
$wysiwyg-table-border-color: $black;
$wysiwyg-table-border-width: 0;
$wysiwyg-td-padding: 0 2em 0 0;
$wysiwyg-td-vertical-align: bottom;
$wysiwyg-table-margin:  $wysiwyg-default-margin;
$wysiwyg-table-padding-left: $wysiwyg-default-padding-left;

// wysiwyg images
$wysiwyg-image-margin: 0;
$wysiwyg-image-width: auto;

// wysiwyg paragraphs
$wysiwyg-paragraph-margin: 1em 0;

// wysiwyg lists
$wysiwyg-ul-list-style-type: disc;
$wysiwyg-ol-list-style-type: decimal;
$wysiwyg-list-margin: $wysiwyg-default-margin;
$wysiwyg-list-in-list-margin: .5em 0;
$wysiwyg-list-padding-left: $wysiwyg-default-padding-left;

// wysiwyg paragraphs
$bold-font-weight: 800;
$strong-font-weight: 900;