html, body{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

pre{
    color: white;
    font-size: 2.5em;
    z-index: 999999999;
    position: relative;
    background: black;
}

.row{
	display: block;
	@include sm{
		display: flex;
	}
}
.block{
	padding: 5em 1.5rem;
}
.small-24{
	flex: 0 0 100%;
    max-width: 100%;
}
.heading, .sub-heading{
	position: relative;
	margin: auto;
	color: $light-blue;
	line-height: 1.3;
}
.input-container{
	position: relative;
   	display: block;
	margin: 1.5em auto;
	&:hover{
		a{
			color: $light-gray;
		}
		span{
			color: $dark-blue;
		}
	}
	input[type="text"], .popup-button{
		border: 1px solid $light-gray;
		color: $light-gray;
		background: $white;
		padding-top: 3px;
		@include hoverBorder($dark-blue);
	}
	span{
		position: absolute;
		font-size: 1em;
	    right: 1em;
		padding: 0.2em;
		color: $light-gray;
		@include transition(.2s);
		&.icon-arrow-right-2{
			font-size: 1.3rem;
			padding-top: .3em;
			right: 1.8em;
		}
	}
}
input, select, button, .popup-button{
	display: block;
	width: 100%;
	height: 35px;
	padding: 0 .5em;
	&:focus{outline:none;}
	@include transition(.2s);
	@include xmd{
		color: $darkest-blue;
	}
}

img{
}
.imgplaceholder{
	display: block;
	width: 100%;
	background-image: url(../img/single-logo.svg);
	height: 30rem;
	background-repeat: no-repeat;
	background-size: 10rem;
	background-position: center;
}

// Advanced Search Dropdowns
.openSearchDropdown{
	display: block;
	&:hover{
		cursor: pointer;
	}
	@include xmd{
		display: inline;
	}
}
.hidden{
	display: none;
}

.pac-container{
	z-index: 999999;
}
// Remove Powered By Google
.pac-container:after {
    background-image: none !important;
    height: 0px;
}

.popup-button{
	margin: 1em 0;
}

.numbercircle {
	line-height: 0px;
	border-radius: 50%;
	// font-size: 1.8rem;
	font-size: 1.2rem;
	background-color: $light-blue;
	margin: 0 0.5em;

	position: absolute;
    right: 40px;
    top: 15px;

	@include xmd{
		display:inline-block;
	    top: 27px;
	}
    @include xmd{
		position: relative;
	    right: 0;
	    top: -3px;
    }

	span {
		display:inline-block;
		padding-top:50%;
		padding-bottom:50%;
		margin-left:8px;
		margin-right:8px;
		color: $white;
	}
}

iframe{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.mobile-offset1{
	@include xmd{
    transform: translateX(-80px);
		
	}
}
.mobile-offset2{
	@include xmd{
    transform: translateX(-210px);
		
	}
}

.relative{
	position: relative;
}