.pagination{
    width: 100%;
	text-align: center;
	li{
		display: inline-block;
		font-size: 1.4rem;
		padding: 0.2em .7em;
		margin: 0.4em;
		color: $darkest-blue;
		&:hover{
			cursor: pointer;
		}
	}
	.fa{
		font-size: 1rem;
		color: $light-gray;
	}
}

.pagination-desktop{
	display: none;
	@include xmd{
		display: block;
	}
}
.pagination-mobile{
	display: block;
	@include xmd{
		display: none;
	}
}