::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	font-family: $titillium;
  color: $light-gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-family: $titillium;
  color: $light-gray;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-family: $titillium;
  color: $light-gray;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-family: $titillium;
  color: $light-gray;
}
::-ms-input-placeholder { /* Microsoft Edge */
	font-family: $titillium;
  color: $light-gray;
}

::selection {
  background: $green; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $green; /* Gecko Browsers */
}