.tag-container{
	position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
	.tag{
		color: $white;
		padding: .3em 1em;
		height: 40px;
	    text-align: right;

		&:before {
			content: '';
			border-left: 15px solid transparent;
			border-right: 0;
			position: absolute;
			left: -15px;
		    margin-top: -6px;
		}

	}
	.tag.recommended{
		background: $green;
		&:before {
			border-top: 20px solid $green;
			border-bottom: 20px solid $green;
		}
	}
	.tag.new{
		background: $light-blue;
		&:before {
			border-top: 20px solid $light-blue;
			border-bottom: 20px solid $light-blue;
		}
	}
}