.view-link{
	color: $light-gray;
    padding: 0;
    text-decoration: underline;
	margin: 0.4em 0 0;
	@include transition(.2s);
	&:hover, &:focus{
		color: $darkest-blue;
		i{
			transform: translateX(.3em);
		}
	}
	i{
		@include transition(.2s);
		font-size: .5em;
		padding-left: 1em;
	}
}