.gform_wrapper, .form, #loginform, .page-template-tpl-contact .gform_wrapper.gf_browser_ie{
		
	label{
		color: $darkest-gray;
	}
	
	input, textarea{
		border: $light-gray 1px solid;
		display: inline-block;
		width: 	100%;
		padding: 1rem 1rem .5rem 1rem;
		margin-bottom: 2rem;
	}

	a{
		display: inline-block;
		background-color: $red;
		color: $white;
		text-decoration: none;
		padding: 0.8rem 1rem 0.4rem 1rem;
	}

	input[type='submit'], gform_footer.button{
		display: inline-block;
		padding: .8rem 1rem .4rem;
		background-color: $red;
		color: $white;
		max-width: 10rem;
	}

	.select,
	#input_1_6_6_container
	{
		position: relative;
		width: 20rem;
		font-size: 1.4rem;

		&:after{
			content: '';
			display: block;
			height: 100%;
			width: 1px;
			background-color: $white;
			right: 4rem;
			position: absolute;
			top: 0rem;
		}

		select{
			padding: 0.9rem 0.8rem 0.8rem 1.2rem;
		    width: 100%;
		    margin-right: 100%;
		    border: none;
		    box-shadow: none;
		    background: #efefef;
		    background-image: none;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    margin: 0rem 100% 2rem 0;
		}

		select::-ms-expand {
		    display: none;
		}

		&:before{
			content: '';
			display: block;
			position: absolute;
			right: 1.4rem;
			//top: 1.6rem;
			width: 0; 
			height: 0; 
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid #5b5d5f;
			pointer-events: none;
		}

	    svg#arrow-cross{
	    	display: none;
	    	// width: 1rem;
	    	// display: block;
	    	// position: absolute;
	    	// right: 0;
	    	// top: 0;
	    	// padding: 1.2em 1.8em;
	    	// rect{
	    	// 	fill: $black;
	    	// }
	    }
	}
	
}

.gform_wrapper, .gform_wrapper.gf_browser_ie{
	.select,
	#input_1_6_6_container
	{
		&:before{
			content: '';
			display: block;
			position: absolute;
			right: 1.6rem;
			top: 4.7rem;
			width: 0; 
			height: 0; 
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid #5b5d5f;
			pointer-events: none;
		}
	}
}


.wysiwyg .gform_wrapper, .wysiwyg .gform_wrapper.gf_browser_ie{	
	margin-top: 0;
	margin-bottom: 0;

	label.gfield_label, 
	.field_sublabel_above .ginput_complex.ginput_container label{
		color: #5b5d5f;
		font-size: 1.4rem;
		font-weight: normal;
	}

	.field_sublabel_above .ginput_complex.ginput_container label{
		font-size: 1.4rem;
	}

	input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
	textarea{
		background-color: #efefef;
		font-size: 1.4rem;
		padding: 1rem;
		margin-top: 0;
		color: $black;
	}

	li{
		padding-left: 0;
		&:before{
			content: '';
		}
	}

	ul.gfield_radio li label{
		font-size: map-get($fs-product-filter ,sm);
		color: $cl-product-filter;
		display: inline-block;
		width: 100%;
		position: relative;
		padding:0 2rem;

		&:before{
			content: '';
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			border: 0.1rem solid $cl-filter-checkbox;
			background-color: $cl-filter-checkbox-background;
			position: absolute;
			left: 0;
			top: 0.1rem;
		}

		&:after{
			content: '';
			width: 0.9rem;
			height: 0.9rem;
			display: none;
			background-color: $cl-filter-checkbox-active;
			position: absolute;
			left: 0.3rem;
			top: 0.4rem;
		}

		span{
			font-size: map-get($fs-product-filter-count ,sm);
			color: $cl-product-filter-count;
			float: right;
			padding-left: 0.5rem;
			margin-right: -2rem;
		}
	}

	 ul li.gfield{
		margin-top: 1.5rem;
	}

	ul.gfield_radio li{
		width: auto;
	}

	ul li.field_description_below div.ginput_container_radio{
		margin-top: 0;
	}

	#field_1_4{
		margin-top: 0;

		>label{
			display: none;
		}
	}

	#input_1_6_6_container{
		width: 50%;
	}

	ul.gform_fields li.gfield input[type=radio]{
		display: none;

		&:checked + label:after{
			display: block;
		}
	}

	input[type='submit'], gform_footer input.button{
		padding: 1.5rem 1.4rem!important;
	}

	.gform_footer{
		margin-top: 0;
		padding-top: 0;
	}

	.gfield_required{
		color: $red;
	}

	li.gfield.gfield_error{
		background-color: transparent;
		border: none;
	}

	.top_label .gfield_error textarea.textarea,
	li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
		border: 1px solid $red;
	}

	.validation_message,
	.field_description_below .gfield_description{
		color: $red;
		padding-top: 0.5rem;
	}

	.field_description_below .gfield_description{
		margin-bottom: 0;
	}

	div.validation_error{
		color: $red;
		border: 1px solid $red;
		margin: 1rem auto 0.5rem 0;
		font-weight: normal;
		text-align: left;
		padding: 1rem;
		font-size: 1.4rem;
		max-width: calc(100% - 16px)!important;
	}

	&.gform_validation_error{
		#field_1_2{
			margin-top: 0;
		}
	}
}