.quantity {
 position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

$heightNumber: 3.3rem;

.quantity input,
.quantity span {
  width: 6.5rem;
  height: $heightNumber;
  float: left;
  display: block;
  font-size: 1.7rem;
  padding: 0;
  margin: 0;
  padding-right: 2.2rem;
  text-align: center;
  border: 1px solid #eee;
  background-color: $light-gray;
  padding-top: 0.4rem;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: $heightNumber;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 2.5rem;
  text-align: center;
  color: $black;
  font-size: 13px;
  font-family: "nimbus-sans-extended !important";
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $white;

  svg{
    width: 0.5rem;
    polyline{
      stroke: $darkest-gray;
    }
  }
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid $white;

  svg{
    transform: rotate(-90deg);
  }
  
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;

  svg{
    transform: rotate(90deg);
  }
}