.block {

	&.home-block {

		h1.page-title {
			margin-bottom: .5em;
			letter-spacing: 0;

			&:after {
				margin-top: .5em;
				content:"";
				display: block;
				width: 50px;
				height: 5px;
				background-color: $black;
			}
		}

		.wysiwyg {
			font-size: 1.2em;

			@include xm {
				font-size: 1.8rem;
				padding-right: 1em;
			}

			@include lg {
				font-size: 2.1rem;
				padding-right: 1em;

				p {					
					line-height: 1.3;
				}
			}

			strong {
				font-size: 1.1em;
			}

			a.read-more {
				margin-top: 3em;
				font-size: .7em;
			}
		}
	}

	&.home-hero-block {
		padding-left: 0;

		@include mobile {
			margin: 2em 0;
			padding: 0;
		}

		img {
			width: 100%;
		}
	}


	&.indekijker-block {

		@include xm {
			display: flex;
			flex-wrap: wrap;
		}

		.indekijker-item {
			margin: 0em 0 1em;		
			padding-left: 0;

			div {				
				position: relative;
				padding-left: 14px;

				&:before {
					position: absolute;
					left: 0;
					top: 0;
					content:"";
					display: block;
					width: 4px;
					height: 100%;
					background-color: $black;
				}

				p {
					display: inline;
					margin: 0;
				}
			}
		}
	}

	&.tablist-block {
		margin: 2em 0;

		ul.tablist {
			margin: 0;
			position: relative;
			width: 100%;

			li.tablist-item {
				position: relative;
				padding: 0.75em 1em;

				&:nth-child(odd) {
					background: darken($white, 3%);
				}

				&:nth-child(even) {
					background: $white;
				}

				a {
					font-size: 1.4rem;
					font-weight: 600;
					text-decoration: none;
					display: inline-block;
				}

				i {
					font-size: .7em;
					font-weight: bold;
					padding: 1em 2em;
					line-height: 1;
					position: absolute;
					right: 0;
					top: .5em;
					cursor: pointer;

					transform: rotate(360deg);
					transform-origin: 50%;
					transition: transform .2s;

					&.icon-rotated {
						transform: rotate(135deg);
						transition: transform .2s;
					}
				}

				&:hover {

					i {
						display: inline-block;
					}
				}

				div.item-wrap {					
					overflow: hidden;
					max-height: 0;
					transition: max-height 200ms linear;

					div {
						font-size: .9em;
						transform: translateY(-100%);

						transition: transform 200ms linear; 

						ul {

							li {
								list-style: disc;
							    padding: 0;
							    margin-left: 1em;
							}
						}
					}
				}

				&.active-tablist {

					a {
						font-weight: 800;
					}

					i {
						display: inline-block;

						// @include md {
						// 	transform: rotate(90deg);
						// }
					}

					div.item-wrap {						
						max-height: 1000px;
						transition: max-height 200ms linear;
						
						div {
							transform: translateY(0);
							transition: transform 200ms linear; 
						}
					}
				}
			}
		}
	}

	&.team-block {
		margin-bottom: 3em;

		header {

			h2 {
				margin: 3em 0 1em;
			}

			&:first-child {

				h2 {
					margin: 0 0 1em;
				}
			}
		}

		article {
			text-align: center;
			padding: 0 1em !important;

			@media (max-width: 500px) {
			    flex: 0 0 100%;
				max-width: 100%;
			}

			aside {
				width: 80%;
				margin: 0 auto;
			}
			a {
				padding: 0 1em 0 0	;
			}

			.read-more {
				font-size: 1.0rem;
				padding: 0;
			}
		}
	}

	&.paramedici-block {

		header {

			h2 {
				margin: 2em 0 1em;
			}

			&:first-child {

				h2 {
					margin: 0 0 1em;
				}
			}
		}

		strong {
			display: block;
		}
		
		ul {
			margin: 0 0 2em;
			display: block;
		}

	}

	&.download-block {
		text-align: left;
		
		article {

			aside {
				height: 300px;

				img {
					max-height: 100%;
					width: auto;
				}
			}
		}
	}

	&.prikbord-block {
		margin-top: 2em;
		&.inline article {
		    margin: 0 4em 2em 0;
    		display: inline-block;
    	}

		article {
			margin-bottom: 2em;

			header {
				border-left: 4px solid $black;
				padding-left: 1em;
				line-height: 1;

				strong {
					font-size: 1.3em;
					padding-right: .5em;
				}
			}
		}
	}

	&.contactbeheer-block {

		h1 {

			@include md {
				font-size: 3.1rem;
			}
		
		}
	}

	&.single-contact-block {

		header {

			h1 {
				margin-bottom: .7em;

				small {
					font-size: .4em;
					text-transform: none;
					display: block;
					line-height: 1.5;
					font-weight: 400;
				}
			}
		}

		ul {
			margin: 0;

			li {
				padding-bottom: .75em;

				span,
				strong,
				a {
					display: block;
				}

				table {

					tr {

						td {
							padding-right: 2em;
						}
					}
				}
			}
		}

		.contact-rang {
			margin-bottom: 3.8em;

			.icon-star {
				font-size: 2em;
				padding-right: .3em;
			}
		}

		.contact-opmerking {
			background-color: rgba($shade1, .03);
			padding: 1.5em 2em;
		}
	}

	&.documentbeheer-block {

		@include md {
			padding: 0;
		}
		

		ul.folder-grid {
			flex-direction: column;
			margin-bottom: 0;

			@include md {
				margin-left: -4rem;
				margin-right: -4rem;
			}
			
			@include md {
				flex-direction: row;
			}

			li.folder {

			    @include md {
		    		width: 33.3333%;
			    }

			    @include lg {
		    		width: 25%;
			    }

				div {
					width: 100%;
					padding: 2rem;
					margin: 1rem 0;
					border-radius: 1rem;
					line-height: 1.2;

					display: flex;
					flex-direction: row;
					width: auto;
					align-items: flex-start;
					text-align: left;
					word-break: break-word;

					@include md {
						width: 16rem;
						margin: 1rem auto;

					    flex-direction: column;
					    text-align: center;
					    align-items: center;
					}

					&:hover {
						background-color: rgba($shade1, .1);
					}

					small {
						display: block;
						line-height: 1;
						opacity: .9;
						font-weight: 400;
					}
				}

				a {					
					width: 100%;
					display: flex;
					align-items: center;
					flex-wrap: nowrap;
					flex-direction: row;

					@include md {
						display: block;
					}
				}


				img {
					width: 8rem;
					margin-right: 4rem;
					position: relative;
					right: -1rem;

					@include md {
						width: 70%;
						margin-right: 0;
					}
				}

				span {
					display: inline-block;
					font-weight: 600;

					@include md {
						padding-top: 1rem;
					}
				}
			}

		}

		ul.document-grid {

			@include md {
				margin-left: 0;
				margin-right: 0;
			}			

			@include md {
				flex-direction: row;
			}

			li.document {
				position: relative;
				margin-bottom: .2em;
				width: 100%;
				font-size: 1.8rem;
				line-height: 1.2;

			    @include md {
		    		width: 33.3333%;
		    		margin-bottom: 0;
		    		padding: 0rem 1rem 2rem;
		    		font-size: 1.6rem;
			    }

			    @include lg {
		    		width: 25%;
			    }

			    a {			    	
			    	display: flex;
			    	flex-direction: row;
			    	align-items: center;
			    	background-color: rgba($shade1, .03);
	    	    	padding: 1rem 2rem;

	    	    	&:hover {
	    	    		background-color: rgba($shade1, .1);
	    	    	}

	    		    @include md {
	    	    		flex-direction: column;
	    	    		justify-content: center;
	    	    		text-align: center;
	    	    		height: 100%;
	    		    }
			    }

			    i {
			    	font-size: 2rem;
			    	padding-right: 2rem;

			    	@include md {
			    		font-size: 4rem;
			    		padding-bottom: 1rem;
			    		padding-right: 0;
			    	}
			    }
			    small {
			    	display: block;
			    	padding-top: .5em;
			    }
			}
		}
	}

	&.block-prev-next-links {
		text-transform: uppercase;

		i {
			font-size: 9px;
			padding: .5em;
			bottom: .2em;
		}

		a {

			&:nth-child(2) {
				float: right;
			}
		}
	}

	&.print-block {


		.single-contact-block {
			padding: 1.5rem 0;

			&:nth-child(even) {
				background-color: rgba($shade1, .03);
			}

			ul {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;

				li {
					width: 25%;
				}
			}
		}
	}
}

.wysiwyg h2 {
	margin: 1em 0 .5em;
}

.single {

	.page-title {
		font-size: 2.4rem;
	}
}