body {
	min-width: 320px;
}

main#site-main {
	

	> .row {	
		padding: 2em 0;	
		max-width: $global-inner-width;
	}

	.intranet & {

		> .row {	
			padding: 2em 0;	
			max-width: $xmedium-width;

			@include lg {
				max-width: $global-width;
			}

			@include xl {
				max-width: $xlarge-width;
			}
		}
	}
		
}

.footer-subscribe {
	
	> .row {	
		padding: 1.5em 0;	
		max-width: $global-inner-width;
	}
}

.row {
	max-width: $xmedium-width; //$global-inner-width;

	@include lg {
		max-width: $global-width;
	}

	@include xl {
		max-width: $xlarge-width;
	}
}

// Sticky footer

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.intranet .page-wrap {

	@include md {
		min-height: 100%;	
		margin-bottom: -430px; 
	}

	@include lg {
		margin-bottom: -263px; 
	}

  &:after {
		content: "";
		display: block;
	}
}

.page-wrap {

	@include md {
		min-height: 100%;	
		margin-bottom: -430px; 
	}

	@include lg {
		margin-bottom: -263px; 
	}

  &:after {
		content: "";
		display: block;
	}
}

#site-footer, 
.page-wrap:after {

	@include md {
		height: 430px; 
	}

	@include lg {
		height: 263px; 
	}
}