.account-menu{
	ul{
		margin: 0;
		border-bottom: $darkest-gray 1px solid;
		padding-bottom: 2px;

		li{
			width: auto;
			padding-bottom: 1px;
			@include lg{
				float: left;
			}

			a{
				display: block;
				text-decoration: none;
				background-color: $lightest-gray;
				padding: 1rem 3rem 0.5rem 3rem;
				border-right: 1px solid $white;
				@include lg{
					display: inline;
				}
			}

			&.current_page_item a,
			&:hover a{
				background-color: $darkest-gray;
				color: $white;
			}
		}

		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}

}