.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid $dark-gray;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid $dark-gray;
}

.sub-blok-arrow{
	position: absolute;
	left: 0;
	right: 0;
	bottom: -20px;
	margin: auto;
	display: none;
}