.banner{

	.picture{
		

		img{
			width: 100%;
		}

		p{
			padding: 0.5rem 2.5rem;
			display: inline-block;
			font-size: $fs-banner-caption;
			color: $cl-banner-caption;
			margin-bottom: 0rem;

			@include xsm{
				padding: 1rem map-get($grid-column-responsive-gutter, xsmall)/2;
			}

			@include md{
				display: none;
			}
		}
	}

	.intro{
		background-color: $cl-background-intro;
		padding-top: 2rem;
		padding-bottom: 2rem;
		color: $cl-banner-intro-tekst;

		&.transparent{
			background-color: transparent;
		}

		@include md{
			padding-top: 3rem;
		}

		h1{
			font-size: map-get($fs-intro-title, sm);
			color: map-get($cl-banner-intro-title,sm);
			margin-bottom: 1rem;

			@include xsm{
				font-size: map-get($fs-intro-title, xsm);
			}

			@include lg{
				font-size: map-get($fs-intro-title, lg);
			}

			@include xl{
				color: map-get($cl-banner-intro-title,xl);
			}
		}

		p{
			font-size: map-get($fs-intro-tekst, sm);

			@include xl{
				font-size: map-get($fs-intro-tekst, xl);
			}
		}
	}

}