.categorie{
	.extra{
		background-color: $light-gray;
		position: relative;

		.catalogus, .video{
			position: relative;
			padding: 0;
			text-align: left;

			>input[type='checkbox']{
				display: none;

				&:checked ~ ul{
					border-top: 3px solid white;
					max-height: 9999px;
				}

				&:checked ~ label svg{
					.line1{
						transform: translateX(2.2px) translateY(-5px) rotate(45deg);
					}

					.line2{
						transform: translateX(0.7px) translateY(3px) rotate(-45deg);
					}
				}

			}

			label, a{
				padding: 2rem 5% 1.5rem 5%;
				color: $black;
				font-size: 1.2rem;
				display: inline-block;
				width: 100%;

				span{
					padding-right: 1em;
					display: inline-block;
				}

				svg{
					display: inline-block;
					position: relative;
					width: 1.2rem;
					height: 1rem;

					&:before, &:after{
						background-color: $black;
					}


				}

				@include md{
					width: auto;
				}
				
			}

			label{
				text-align: center;

				@include md{
					width: auto;
				}
			}
			a{
				padding: 2rem 25% 1.5rem;
				@include xsm{
					padding: 2rem 5% 1.5rem;
				}
			}
		}

		.catalogus a{
			@include md{
				width: 100%;
			}
		}

		.catalogus-link,
		.web-link{
			position: absolute;
			right: 0;
			padding: 2rem 5rem;
			z-index: 99999;

			@include md{
				&:nth-child(2){
					right: 200px;
					padding-right: 0;
				}
			}
			

			i{
				padding: 0 0 0 0.5em;
				color: $red;
			}
		}

		a.web-link{
			position: relative;
			display: block;
			width: 100%;
			text-align: center;

			@include md{
				width: auto;
				padding-left: 1rem;
				float: right;
				padding-left: 2rem;
			}

		}

		.catalogus{
			position: relative;
			// @include lg{
			// 	padding-left: 2.5rem;
			// 	margin-left: 3.5em;
			// }

		}
		label svg rect{
			fill: $black!important;
		}
		.video{
			text-align: center;

			@include lg{
				padding-left: 2.5rem;
				margin-right: -0.6rem;
			}

			a{
				background-color: $red;
				text-decoration: none;
			}
			
		}

		ul{
			margin: 0;
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 9;
			max-height: 0;
			overflow: hidden;
			list-style-type: none;
			background-color: $light-gray;
			box-shadow: 0px 3px 5px 0px $darker-gray;
			z-index: 999999;

			li{
			    position: relative;
			    display: inline-block;
				float: left;

			    &:first-child{
			    	border-top: 1px solid $white;

			    	&:before{
			    		top: 3.1rem;
			    	}
			    }

			    &:last-child{
			    	padding-bottom: 1rem;
			    }

				a{
					font-size: 1rem;
					color: $white;
					text-decoration: none;

					&:hover{
						color: $red;	
					}
				}

				span{
					padding: 1em 0;
					color: $black;
					font-size: 1.2rem;
				}
			}
		}
	}
		
	
}