.landing-home-blokken{
	margin-bottom: 3rem;

	h1{
		font-size: map-get($fs-lh-blokken-titel, sm);
		color: $cl-lh-blokken-titel;
		margin: 2rem auto 1rem;
		padding-left: 3rem;
		color: $red;
		padding-bottom: 1rem;
		font-size: 2.1rem;

		@include xsm{
			padding-bottom: 0;
			color: $black;
			padding-left: 0;
			font-size: map-get($fs-lh-blokken-titel, xsm);
		}

		@include md{
			padding-left: 1rem;
		}
	}

	.blokken{
		width: 100%;
		

		.slider-arrow{
			@include slider-arrows();

			&.left{
				@include slider-arrows-left();
				//left: 0;
			}

			&.right{
				@include slider-arrows-right();
				//right: 0;
			}
		}

		.slick-blokken{

			@include only-sm{
				position: relative;
				min-height: 20rem;

				.loading{
					@include loaderclock(30, 1500);
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: $white;

					.spin{
						left: 50%;
						top: 50%;
					}
					
				}

				&.slick-initialized{
					min-height: auto;

					.loading{
						display: none;
					}
					
				}
			}

		}

		.slick-list{
			background-color: $cl-lh-blok-background;
			
		}

		@include only-sm{

			.slick-list:hover{
				background-color: $red;

				.column{
					h3{
						background-color: transparent;
						color: $white;
					}
				}
			}

		}

		

	
		.row{
			margin: 0;

			@include only-sm{
				padding: 0 10%;	
			}

			&.expanded{
				width: 100%;
			}

			.column{
				position: relative;
				padding: 0;
				cursor: pointer;
				&:hover{
					@include md{
						a,h3{	
							background-color: $cl-lh-blok-background-hover;
							color: $cl-lh-blokken-titel-hover;
						}
					}
				}
				&:hover, &:focus, &:visited, &:active{
					outline: none!important;
				}

				a{
					flex: 1;
					transition: all .2s;
					display: flex;
					flex-direction: column;

					@include md{
						background-color: $cl-lh-blok-background;
					}
				}


				@include xsm{
					margin-bottom: 4rem;
				}

				&:nth-child(even){
					@include xsm{
						padding-left: 2rem;
						padding-right: 0rem;
					}

					@include md{
						padding-right: 2rem;
					}
				}

				&:nth-child(odd){
					@include xsm{
						padding-left: 0;
						padding-right: 2rem;
					}

					@include md{
						padding-left: 2rem;
					}
				}

				@include md{
					display: flex;
					flex-wrap: wrap;
					flex-direction: column;
					
					margin-bottom: 2rem;
					flex: 0 0 25%;
					max-width: 25%;

					&:nth-child(4n+1){
						padding-left: 0;
						padding-right: 1.5rem;
					}

					&:nth-child(4n+2){
						padding-right: 1rem;
						padding-left: 0.5rem;
					}

					&:nth-child(4n+3){
						padding-right: 0.5rem;
						padding-left: 1rem;
					}

					&:nth-child(4n+4){
						padding-right: 0;
						padding-left: 1.5rem;
					}
				}


				img,h3{
					width: 100%;
					display: block;
					position: relative;
					margin: auto;
				}

				img{
					min-height: 1rem;
				}

				h3{
					font-size: map-get($fs-lh-blokken-blok-titel, sm);
					color: $cl-lh-blokken-titel;
					padding: 1.7rem 2rem;
					line-height: 0.7;
					margin: auto;
					line-height: $lh-lh-blokken-titel;				
					word-break: break-word;
					flex-grow: 1;
					word-wrap: break-word;
					display: flex;
					align-items: center;

					transition: all .2s;

					@include xsm{
						font-size: 1.8rem;
					}

					background-color: transparent;

					@include xsm{
						background-color: $cl-lh-blok-background;
					}
				}
				&.xlarge-3{
					@include xl{
						max-width: 20%;
					}
				}
				&.xxlarge-2{
					@include xxl{
						max-width: 16.6666666667%;
					}
				}
			}
		}



		.sub-blok-container{
			
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			height: 100%;
			background-color: $cl-sidebar-background;
			padding: 2em 4rem;
			margin-bottom: 1.5em;
			flex-wrap: wrap;
			display: none;
			z-index: 99999;
			position: fixed;
			overflow-y: scroll;

			.close{
				width: 1.5rem;
				right: 1rem;
			}

			@include md{
				overflow-y: hidden;
			}

			@include md{
				position: relative;
				height: auto;
				width: 100%;
				box-shadow: 0px 3px 5px 0px $darker-gray;
				background-color: $cl-lh-blok-background;
			}

			a{
				text-decoration: none;
			}
			h3{
				width: 100%;
				font-size: 1.8rem;
				margin-left: 0.4em;
			}
			.sub-blok{
				padding-left: 1rem!important;
				padding-right: 1rem!important;
				margin-bottom: 2em;
				display: flex;
				flex-direction: column;

				// @include md{
				// 	display: flex;
				// 	flex-wrap: wrap;
				// 	flex-direction: column;
					
				// 	margin-bottom: 2rem;
				// 	flex: 0 0 33.3333%;
				// 	max-width: 33.3333%;
				// }
				// @include lg{
				// 	display: flex;
				// 	flex-wrap: wrap;
				// 	flex-direction: column;
					
				// 	margin-bottom: 2rem;
				// 	flex: 0 0 25%;
				// 	max-width: 25%;
				// }

				h3{
					background-color: $white;
					flex-grow: 1;

					@include md{
						background-color: $white;
					}
				}
			}
			.columns.sub-blok-all{
				padding-left: 1rem!important;
				h3{
					background-color: $red;
					color: $white;

					@include md{
						background-color: $red;
					}
				}
			}
		}
	}

	&.merken{
		@include xl{
			.row{
				margin: -0.5em;
			}
			.blokken .row .column{
				flex-direction: row;
				padding: 0 1rem;

				// &:nth-child(6n+1){
				// 	padding-left: 0;
				// 	padding-right: 1.5rem;
				// }

				// &:nth-child(6n+2){
				// 	padding-right: 1rem;
				// 	padding-left: 0.5rem;
				// }

				// &:nth-child(6n+3){
				// 	padding-right: 0.5rem;
				// 	padding-left: 1rem;
				// }

				// &:nth-child(6n+4){
				// 	padding-right: 0.5rem;
				// 	padding-left: 1rem;
				// }

				// &:nth-child(6n+5){
				// 	padding-right: 0.5rem;
				// 	padding-left: 1rem;
				// }

				// &:nth-child(6n+6){
				// 	padding-right: 0;
				// 	padding-left: 1.5rem;
				// }
			}

		}
	}
}

.page-template-tpl-merken{
	.row.align-center{
		justify-content: space-around;
	}
}