.product-grid{
	margin: 3rem  auto;

	>.row.grid{
		margin: 0;
	}

	h1{
		font-size: map-get($fs-product-grid-title, sm);
		color: $cl-product-grid-title;

		a{
			font-size: map-get($fs-product-grid-title, sm);
			color: $cl-product-grid-title;	
			text-decoration: none;
		}

		@include xsm{
			font-size: map-get($fs-product-grid-title, xsm);
		}

		@include xl{
			display: none;
		}
	}

	.count{
		display: none;

		@include xl{
			display: inline-block;
			float: left;
			font-size: 1.2rem;
			margin-top: 0.8rem;
		}
	}

	article{

		$padding-product-grid: 3rem;

		&:nth-child(even){
			padding-right: 0;
			padding-left: $padding-product-grid/2;
		}

		&:nth-child(odd){
			padding-left: 0;
			padding-right: $padding-product-grid/2;
		}

		@include md{
			&:nth-child(3n+1){
				padding-left: 0;
				padding-right: $padding-product-grid*0.66;
			}

			&:nth-child(3n+2){
				padding-left:  $padding-product-grid/3;
				padding-right: $padding-product-grid/3;
			}

			&:nth-child(3n+3){
				padding-left: $padding-product-grid*0.66;
				padding-right: 0;
			}
		}

		@include lg{
			&:nth-child(4n+1){
				padding-left: 0;
				padding-right: $padding-product-grid*0.75;
			}

			&:nth-child(4n+2){
				padding-right: $padding-product-grid*0.5;
				padding-left: $padding-product-grid*0.25;
			}

			&:nth-child(4n+3){
				padding-right: $padding-product-grid*0.25;
				padding-left: $padding-product-grid*0.5;
			}

			&:nth-child(4n+4){
				padding-right: 0;
				padding-left: $padding-product-grid*0.75;
			}
		}

		@include xl{
			&:nth-child(3n+1){
				padding-left: 0;
				padding-right: $padding-product-grid*0.66;
			}

			&:nth-child(3n+2){
				padding-left:  $padding-product-grid/3;
				padding-right: $padding-product-grid/3;
			}

			&:nth-child(3n+3){
				padding-left: $padding-product-grid*0.66;
				padding-right: 0;
			}
		}

		@include xxl{
			&:nth-child(4n+1){
				padding-left: 0;
				padding-right: $padding-product-grid*0.75;
			}

			&:nth-child(4n+2){
				padding-right: $padding-product-grid*0.5;
				padding-left: $padding-product-grid*0.25;
			}

			&:nth-child(4n+3){
				padding-right: $padding-product-grid*0.25;
				padding-left: $padding-product-grid*0.5;
			}

			&:nth-child(4n+4){
				padding-right: 0;
				padding-left: $padding-product-grid*0.75;
			}
		}


		a{
			text-decoration: none;
		
			
	 

			h2{
				margin-top: 0.5rem;
				margin-bottom: 1rem;

				color: $cl-product-grid-item-title;
				font-size: map-get($fs-product-grid-item-title, sm);

				@include md{
					margin-top: 1rem;
					font-size: map-get($fs-product-grid-item-title, md);
				}
			}

		}

	}

}