.subcatmenu{
	display: none;
	background-color: $cl-sidebar-background;
	padding-top: 2rem;

	@include xl{
		display: block;
	}

	&.filters .inner{
		ul{
			li{
				ul{
					border-left: none;
				}
			}
		}
	}

	.inner{
		
		.breadcrumb ul{
			max-height: inherit;
			border: none;
			
			li{
				display: none;
			
				
			}
		}

		display: block;
		height: 100%;
		width: 100%;
	}	
	
	>a{
		text-decoration: none;
		color: $darkest-gray;
		font-size: 1.5rem;
		padding: 3rem 0 2rem 0;
		display: inline-block;

		span{
			display: inline-block;
			margin-right: 0.75rem;
			color: $black;
		}


	}

	h1{
		margin: 0rem auto 2rem auto;
		font-size: $fs-title-sidebar;
		color: $cl-sidebar-title;
		line-height: 1.6;
	}

	ul{
		display: block;
		width: 100%;

		li{
			display: inline-block;
			width: 100%;

			a{
				text-decoration: none;
				display: inline-block;
				width: 100%;
				padding: 0.75rem 0.75rem 0.75rem 0;
				font-size: $fs-item-sidebar;

				&.active{
					color: $red;
				}
			}

			ul{
				// margin: 0.75rem 0 0 2rem;
				padding-left: 0;
				padding-right: 0;
				max-height: 0;
				overflow: hidden;
				transition: all .5s;

				@include lg{
					border-left: $darkest-gray 1px solid;
				}

				li{
					a{
						padding-left: 1rem;
					}
					&:last-child{
						margin-bottom: 0;
					}
				}
			}

			&.active{
				>a{
					color: $red;
				}
			}
			&:hover{
				ul{
					max-height: 1000px;
				}
			}
		}
	}
}

#vue-product-filter .subcatmenu .inner .breadcrumb ul li:nth-child(2),
#vue-merk-filter .subcatmenu .inner .breadcrumb ul li:nth-child(3){
		display: block;
		position: relative;
		padding: 0;

		a{
			padding-left: 2rem;
		}

		svg{
			position: absolute;
			left: 0;
			top: 1rem;
			margin-top: 1rem;
			@include svgcircle(1.5rem);
			display: inline-block;
		}
	}

#vue-merk-filter .subcatmenu .inner .breadcrumb ul li:nth-child(3) svg{
	top: 1rem;
}