#footer-search{
	padding: 5em 0;
	border-top: 2px solid $cl-footer-border-top;

	.row{
		max-width: 1000px;
		margin: 3rem auto 0 auto;
	}

	.columns{
		margin: auto;
		display: block;
		text-align: center;
		@include xl{
			display: flex;
		}

		&.footer-search{
			>div{
				@include md{
					display: flex;
					width: 80%;
					margin: auto;
				}
			}
		}
	}

	form{
		margin: auto;
		padding: 0;
		width: 100%;
		margin-top: -3px;
		
		button{
			position: static;
		}

		@include xl{
			max-width: none;
			padding: 0 1em 0 0;
			margin-top: 0;
		}
		
	}

	.mailchimp{
		flex-direction: column;

		h3{
			
			color: $black;
			font-size: 1.8rem;
			padding: 2rem 10% 0 10.5%;
		}

		span{
			font-size: 1.1rem;
			text-align: left;
			color: $darkest-gray;
			padding: 0.5rem 10% 2rem 10.3%;
		}

		h3, span{
			background-color: $cl-lh-blok-background;
			display: inline-block;
			width: 100%;
			margin: 0;


		}

		form{
			
			background-color: $cl-lh-blok-background;
			padding-top: 2rem;
			padding-bottom: 0rem;
			padding-right: 0;

			>div:first-child{
				width: 80%;
				margin: auto;
				padding: 0.5rem 0;

				@include xsm{
					border-bottom: 1px solid $black;
				}
			}
			
			input[type='email']{
				background-color: $cl-lh-blok-background;
				width: 100%;
				color: $black;
				border: none;
				border-bottom: 1px solid $black;
				margin-bottom: 1rem;
				font-size: 1.2rem;
				border-radius: 0;

				@include xsm{
					width: 61%;
					margin-right: 2%;
					margin-bottom: 0;
					border-bottom: none;
				}

				@include md{
					width: 62%;
				}

				@include lg{
					width: 80%;
					margin-right: 5%;
				}
			}

			input[type='submit']{
				font-size: 1.2rem;
				padding: 0.5rem 1.5rem;
				background-color: $black;
				color: $white;
				clear: right;

				@include xsm{
					width: 35%;
				}

				@include lg{
					width: 14%;
				}
			}

			.mc4wp-response{
				display: none;

				p{
					margin: 0;
				}
			}

			&.mc4wp-form-success{
				.mc4wp-form-fields{
					display: none;
				}

				.mc4wp-response{
					display: inline-block;
				}
			}
		}
	}

	a{
		display: inline-block;
		margin-top: 1em;
		padding: .3em 1em;
		background-color: #da2a28;
		color: #fff;
		flex: none;
		@include md{
			margin-left: 1rem;
			margin-top: 0;
		}
	}
}