.cookies-message{
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	padding: 1em;
	background: $dark-blue;
	box-shadow: rgba(0,0,0,.33) 0 6px 13px 3px;
	@include transition(.3s);

	.sub-heading{
		color: $white;
		text-align: center;
		padding: 0 1em;
		@include xmd{
			padding: .5em 7em;
		}
		a{
    		color: $green;
		}
	}

	.link-container{
	    margin: auto;
		@include xmd{
			position: absolute;
			right: 0;
			top: 0;
		}

		.primary{
			margin: auto;
			text-align: center;
		    padding: .6em 1.5rem;
		    display: block;
		    @include xmd{
				display: inline-block;
		    }
		}
	}
}
.cookies-message-hide{
	transform: translateY(200px);
}