/* -------------------------------------------------------------------------
 Footer
---------------------------------------------------------------------------- */

footer{
    text-align: center;
	position: relative;
    padding: 1.25em;
    background: $white;
    color: $darkest-blue;
    z-index: 999;
    
    .footer-copyright, .footer-links, .footer-credits{
        padding: .3em 0;
        display: block;
        width: 100%;
        flex: auto;
    }
    .footer-copyright{
        @include md{
            text-align: left;
        }
    }
    .footer-links{
    	a{
    		padding: 0 1em;
	    	color: $darkest-blue;
	    	text-decoration: underline;
		  	@include hover($green);
    	}
    }
    .footer-credits{
        @include md{
            text-align: right;
        }
    	.seperator{
    		padding: 0 1em;
    		color: $green;
    	}
    	a{
	    	color: $darkest-blue;
		  	@include hover($green);
    	}
    }
    .icons-block{
        padding: 2em 0;
        .fa{
            @include hover($green);
        }
    }
}