.language-menu{
	display: inline-flex;
	font-weight: 300;
	@include transition(.2s);
	&:hover{
		.language-item{
			@include xmd{
				display: block!important;
				background: none;
			}

		}
	}
	.language-item{
		display: inline-block;
	    right: 0;
	    text-align: center;
	    @include xmd{
			display: none;
	        width: 50px;
	    }
	}
	.lang-text{
		color: $green;
		padding: 0 1em;
		display: inline-block;
		@include xmd{
			display: block;
		}
	}
	#lang-select, #lang-select li{
	    padding: 0 1em;
	}

	#lang-select{
		padding: 1em 1em 1em 0.5em;
	}
}

.search-active, .not-frontpage{
	.language-menu:hover{
		.language-item{
			background: $white;
		}
	}
}

