.seo-block, .new-seo-block{
	position: relative;
	margin: 0em auto;
	background: $darkest-blue;
	z-index: 999;
    transition: all 1s, background-color 0s;

	ul{
		margin-bottom: 0;
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
		@include sm{
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
		}
		@include md{
			columns: 4;
			-webkit-columns: 4;
			-moz-columns: 4;
		}
		a{
			color: $lightest-gray;
		}
		li{
			line-height: 2.3rem;
			font-size: 1.3rem;
			border-left: 1px solid $green;
		    padding-left: 1em;
		}
	}
}

.new-seo-block-home{
	position: relative;
	margin: 0em auto;
	background: $darkest-blue;
	z-index: 999;
    transition: all 1s, background-color 0s;
	.seo-column{
		@include sm{
			padding: 0 1.5rem;
		}
		@include md{
			padding: 0 5em;
		}
	}
    h3{
    	color: $white;
	    border-bottom: 1px solid $green;
	    padding: 0 0 1em;
    }

	ul{
	    padding: 0 0 1em;
		@include md{
		    padding: 0;
		}
		a{
			color: $lightest-gray;
		}
		li{
			line-height: 3.2rem;
			font-size: 1.6rem;
		}

	}
}

.seoblock-text{
	position: relative;
	margin: 0em auto;
	z-index: 999;
	@include mobile{
		padding: 0 1.5rem;
	}
    .seo-text-lead{
    	color: $light-blue;
    	padding: .5em 0 0;
    }
    .seo-text-sublead{

    }
    .seo-text-paragraph{
    	
    }
}

.venuecount{
    float: right;
    margin: 0;
    padding: 1rem 0 0;
    @include mobile{
   		float: none;
   		display: block;
        padding: 1.5rem 1.5rem 0;
    }
}

.share-block{
	.share-content{
	    float: right;
	}
}