.question-block{
	z-index: 999;
    background: $white;
	.heading{
		color: #333399;
		&.sub-heading{
			color: #000;
			max-width: 500px;
		}
	}
}
.social-block{
	background: $dark-blue;
	color: $white;
	z-index: 999;
	
	.heading{
		color: $white;
		&.sub-heading{
			color: $white;
			max-width: 600px;
		}
	}
}
