.sidebar{
	margin-bottom: 3em;
	.heading{
	    display: block;
    	width: 100%;
		float: left;
		color: $light-blue;
		text-align: left;
	}
	.sub-heading{
	    margin: auto 0;
	}
	a {
	    color: $dark-blue;
	}
	.fa{
	    color: $light-blue;
	}
	.sidebar-icons{
		margin-top: 2em;
	}
	.button-container{
	    margin: 0 0 3em 0;
	}
	.contact-container{
		margin: 0;
	}
}