.venue-search{
    position: relative;
	display: none;
	width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 5em;
    @include xmd{
		display: block;
    	margin-top: 0;
    }

	input{
		background: none;
		display: inline-block;
		border: none;
		outline: none;
		color: $white;
		width: 0px;
		padding-left: 30px;
		position: absolute;
		top: 0;
		right: 0;
		background: none;
		z-index: 3;
		cursor: pointer;
		@include transition(.4s);
		@media (max-width: 955px) {
			width: 200px!important;
			z-index: 1!important;
			border-bottom: 1px solid $green!important;
			cursor: text!important;
			padding-left: 0px!important;
		}
	}
	span{
		position: absolute;
	    top: 0;
	    right: 0;
        padding: 0 .5em;
        color: $white;
	}

	@include xmd{
		display: inline-block;
		width: 0;
	    height: 25px;
	    margin: 0 1em;
	    span{
	        padding: 0.3em .5em;
		}
	}
}

.venue-search-expand{
	width: 200px!important;
	z-index: 1!important;
	border-bottom: 1px solid $green!important;
	cursor: text!important;
	padding-left: 0px!important;
}

