.search{
	position: relative;
	width: 100%;	
	z-index: 9;
	padding: 0rem map-get($grid-column-responsive-gutter, small) 1rem;

	.inner{
		border-bottom: 1.2px solid $black;

		@include md{
			padding: 0;
		}
	}

	input[type="text"]{
		widows: 100%;
		background-color: transparent;
		color: $black;
		width: 87%;
		display: inline-block;
		font-size: 1.1rem;
		height: 3rem;
	}

	button{
		width: 10%;
		text-align: right;

		i{
			color: #505056;
		}

		@include md{
			position: relative;
			top: 1rem;
		}
	}
}


#vue-search{
	.search{
		margin: 2rem auto;
		max-width: 30em;

		button{
			top: 0.25rem;
			@include xsm{
				transform: translateX(0.3em);
			}

			.fa{
				color: $red;
				font-size: 2rem;
			}
		}
	}
}

.page-template-tpl-search{

	header.main{
		form.search{
			@include minxl{
				display: none;
			}
		}
	}

	.row.align-center{
		justify-content: space-around;
	}

	.product-grid{
		.count{
			display: block;
			// @include xl{
			// 	display: inline-block;
			// 	float: left;
			// 	font-size: 1.2rem;
			// 	margin-top: 0.8rem;
			// }
		}
	}
}