.page-wrap{
    min-height: calc(100vh - 60px);
}
.page-template-tpl_sitemap{
	.content {
		a{
			color: $darkest-blue;
			@include transition(.2s);
			&:hover{
				color: $green;
			}
		}
	}
}
.page-content{
	padding: 3rem 1.5rem 0;
	a{
		color: $green;
	}
	.heading{
		padding: 0 0 1em;
	    font-weight: 500;
	}
	li{
		list-style: circle;
	    margin-left: 2rem;
	}
	h3{
		color: $light-blue;
		font-weight: 600;
	}
}

.error404, .page-template-tpl_favourites{
	.centered{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: 50px;
		h1{
		    text-align: center;
		    color: $white;
		    font-size: 2.7rem;
			@include sm{
			    font-size: 3.8rem;
			}
		    @include xmd{
			    font-size: 6.2rem;
		    }		
		}
	}

}

