@font-face {
  font-family: "VoltaFont";
  src: url('../fonts/VoltaFont.eot');
  src: url('../fonts/VoltaFont.eot?#iefix') format('eot'),
    url('../fonts/VoltaFont.ttf') format('truetype'),
    url('../fonts/VoltaFont.svg#VoltaFont') format('svg');
}

@mixin icon-styles {
  font-family: "VoltaFont";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == arrow-full-down {
    $char: "\E001";
  }
  @if $filename == arrow-full-left {
    $char: "\E002";
  }
  @if $filename == arrow-full-right {
    $char: "\E003";
  }
  @if $filename == arrow-full-up {
    $char: "\E004";
  }
  @if $filename == arrow-left {
    $char: "\E005";
  }
  @if $filename == arrow-right-2 {
    $char: "\E006";
  }
  @if $filename == arrow-right {
    $char: "\E007";
  }
  @if $filename == favourite {
    $char: "\E008";
  }
  @if $filename == halls {
    $char: "\E009";
  }
  @if $filename == location {
    $char: "\E00A";
  }
  @if $filename == magnify {
    $char: "\E00B";
  }
  @if $filename == persons {
    $char: "\E00C";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-arrow-full-down {
  @include icon(arrow-full-down);
}
.icon-arrow-full-left {
  @include icon(arrow-full-left);
}
.icon-arrow-full-right {
  @include icon(arrow-full-right);
}
.icon-arrow-full-up {
  @include icon(arrow-full-up);
}
.icon-arrow-left {
  @include icon(arrow-left);
}
.icon-arrow-right-2 {
  @include icon(arrow-right-2);
}
.icon-arrow-right {
  @include icon(arrow-right);
}
.icon-favourite {
  @include icon(favourite);
}
.icon-halls {
  @include icon(halls);
}
.icon-location {
  @include icon(location);
}
.icon-magnify {
  @include icon(magnify);
}
.icon-persons {
  @include icon(persons);
}
