.product-slider{
	position: relative;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0 2rem;

	.slider-arrow{
		@include slider-arrows();
		max-width: 5rem;

		&.left{
			@include slider-arrows-left();
		}

		&.right{
			@include slider-arrows-right();
		}
	}
	
	.slick-track{
		display: flex;
		align-items: center;

		li{
			text-align: center;
		
			img{
				max-height: 30rem;
				display: inline-block;

				@include xsm{
				max-height: 30rem;
				}
			}
		}	
	}
}

.productimage, .sliderwrapper{
	position: relative;
	.fa-search{
		display: block;
			color: $darkest-gray;
			padding: 0.5rem;
			position: absolute;
			right: 1.2rem;
			top: 0;
			background-color: $light-gray90;

		max-width: 2.5em;
	}
}

.sliderwrapper{
	position: relative;

	@include md{
		display: none;
	}

	.logo, #arrow-cross{
		display: none;
	}
}

.sliderwrapper.fullscreen{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $white;
	z-index: 9999999;
	display: flex;
	flex-direction: column;

	.logo{
		width: 100%;
		margin-top: 2rem;
		text-align: center;
		display: block;

		svg{
			width: 10rem;
			height: 5rem;
			display: inline-block;
		}
	}

	#arrow-cross{
		position: fixed;
		display: block;
		right: 1.7rem;
		top: 3rem;
		width: 2rem;
		height: 2rem;

		rect{
			fill: $black;
		}
	}

	.fa-search{
		display: none;
	}

	.product-slider{
		padding: 0 5rem;
		align-self: center;
		margin: auto;
	}

	.slider-arrow{

		&.left{
			left: 0;
		}

		&.right{
			right: 0;
		}

	}

	.slick-track{
		li{
			img{
				max-height: 80vh;
			}
		}
	}
}