.related{
	width: 100%;
	background-color: $dark-gray;
	text-align: left;
	position: relative;

	.gray-right,
	.gray-left{
		display: none;

		@include md{
			display: flex;
		}


		position: absolute;
		bottom: 0; 
		width: 50%; 
		height: 5rem;
		align-items: center;

		svg{
			width: 1rem;
			height: 2rem;
		}
	}
	.gray-left{
		left: 0;

		svg{
			left: 66.6%;
			margin-left: -0.5rem;
			position: relative;
			transform: rotate(180deg)
		}
	}

	.gray-right{
		right: 0;

		svg{
			margin-left: 33.3%;
		}
	}
	

	&.pagecount-1{
		padding-bottom: 0;
	}

	@include md{
		padding-bottom: 5rem;

		&.recent{
			padding-bottom: 0;
		}
	}

	h3{
		color: $black;
		font-size: 1.2rem;
		padding: 4rem 0.5rem 1.5rem;
		margin: 0;
		display: inline-block;
		background-color: $white;
		width: 100%;

		@include md{
			font-size: 1.9rem;
			padding: 4rem 1rem 3rem 1rem;
		}

		@include xxl{
			padding: 2rem 1rem 3rem 1rem;
		}
	}

	input[type='radio']{
		display: none;
	}

	label{
		@include slider-arrows();
		display: none;

		@include md{
			width: 50%;
			top: 100%;
			margin-top: -5rem;

			svg{
				width: 1rem;
				height: 2rem;
			}
		}
	}

	.overflow{
		display: block;
		overflow: hidden;
	}


	@for $i from 0 through 10 {
		input[name='relatedslider']:nth-of-type(#{$i+1}):checked ~ ul{
			margin-left: $i * -100%;
		}

		input[name='relatedslider']:nth-of-type(#{$i+2}):checked ~ label:nth-of-type(#{$i+1}){
			display: flex;

			@include slider-arrows-left();

			@include md{
				left: 0;
			}
		
		}

		input[name='relatedslider']:nth-of-type(#{$i}):checked ~ label:nth-of-type(#{$i+1}){
			display: flex;

			@include slider-arrows-right();

			@include md{
				right: 0;
			}

		}
	}

	@for $i from 0 through 10 {

		&.pagecount-#{$i}{
			
			@include only-sm{
				label:nth-of-type(n+#{$i+1}){
					display: none!important;
				}
			}

			@include only-xsm{
				label:nth-of-type(n+#{$i+1}){
					display: none!important;
				}
			}
		

			@include xl{
				label:nth-of-type(n+#{$i+1}){
					display: none!important;
				}
			}
		}

	}


	ul{
		margin: 0;
		background-color: $white;
		transition: margin-left 0.5s;

		li{

			ul{
				width: 100%;
				display: flex;
				flex-wrap: wrap; 

				@include md{
					width: 200%;
				}

				@include xl{
					width: 100%;
				}

				li{
					padding: 0 1em;
					margin-bottom: 2em;

					&:nth-child(even){
					}

					a{
						text-decoration: none;
						color: $darkest-gray;

						span{
							display: inline-block;
							width: 100%;
							margin-top: 0.25rem;
							font-size: 1.3rem;
							padding-left: 1rem;
						}

						.rect{
							display: block;
							width: 100%;
							border: 1px solid $cl-product-grid-item-border;
							position: relative;

							&:after {
								content: "";
								display: block;
								padding-bottom: 100%;
							}

							.container{
								position: absolute;
								height: 90%;
								width: 90%;
								text-align: center;
								left: 5%;
								top: 5%;

								img{
									height: 100%;
									width: auto;
									display: inline-block;
									object-fit: contain;
						font-family: 'object-fit: contain;';
								}
							}

						}
					}
				}
			}
		}
	}
}



