#single-product .share-products{
		padding: 0;
		margin: 0 auto;
		text-align: center;
		width: 100%;

		display: flex;
		flex-direction: column;

		@include md{
			width: auto;
			margin-top: 1.5rem;
			display: inline-block;
		}
		@include lg{
			width: 100%;
		}
		.share-products-top{
			display: block;
			justify-content: center;

			@include xsm{
			    display: flex;
				border-bottom: 3px solid $light-gray;
			}
			
			@include md{
		    	display: block;
				border: 0;
			}
		}
		#counter{
			position: relative;
			width: 100%;
			justify-content: center;

			background-color: transparent;
			font-size: 1.3rem;
			@include xsm{
				width: auto;
			}
			// @include md{
			@media (min-width: 1100px){
				width: 100%;
				justify-content: flex-start;
			}
			@media (min-width: 1210px){
				width: auto;
			}

			i {
				padding: 0rem 0.5rem 0rem 1rem;
			}
			span {
				padding-top: 0.3rem;
			}
			
			div:last-child{
				color: $white;
				span {
					padding: 0rem 1rem 0rem 0.5rem;
				}
			}
			.add-button{
				background-color: $red;
				height: 100%;
			    display: flex;
				align-items: center;
			}
		}

		.share-button-container{



			@media (max-width:480px){
				width: 100%;
				justify-content: center;
				display: flex;
				padding: 1rem 0;
			}

			display: block;
			justify-content: center;
			@include xsm{
				justify-content: flex-start;
			}
			@include md{
				display: block;
				padding: 3.5em 0em;
			}
			@media (min-width: 1210px){
				padding: 0;
			}
		}

		li{
			background-color: $light-gray;
			width: 3.3rem;
			height: 3.3rem;
			text-align: center;
			display: block;
			float: left;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.2rem;
			transition: all .2s;

			@include lg{
				width: 3.3rem;
			}

			&:hover{
				background-color: $darkest-gray;
				cursor: pointer;
				a{
					color: $white;
				}
			}

			&.quantity{
				width: auto;
				border-right: none;
			}

			&:last-child{
				clear: right;
			}

			a{
				text-decoration: none;
				color: $darkest-gray;
				display: inline-block;
				line-height: 0;
			}

			i{
				font-size: 1.5rem;
			}

			&:nth-child(2) div:last-child{
				background-color: $red;
				padding: 1rem 1rem 0.5rem 1rem;
				color: $white;
				position: relative;
				width: auto;
				//height: auto;
				border-right: none;
				font-size: 1.3rem;

				i{
					margin-top: -0.5rem;
					font-size: 1.5rem;
				}
				
				span{
					display: inline-block;
					margin-left: 0.75rem;
				}


			}

			&.xtrinfo{
				width: 100%;
				padding: 1em 0 0;
				font-size: 1rem;
				color: $darkest-gray;
				background-color: transparent;
				justify-content: space-between;
				text-align: initial;
				height: 2em;
				input{
					padding:0;
					background: transparent;
				}
			}
		}

		&:after{
			content: '';
			height: 0.2rem;
			width: 100%;
			background-color: $darker-gray;
			display: block;
			position: absolute;
			left: 0;
			top: 3.1rem;
			z-index: -1;

			@include md{
				display: none;
			}
		}
	}