.technical-info{
		$size : 18px;
		text-align: left;
		clear: both;

		.testarrow{

		}

		header{
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column-reverse;

			@include xsm{
				flex-direction: row;
			}

			@include xl{
				flex-direction: row;
			}

			&.two{


				a,label{

					border-bottom: 1px solid $white;

					@include xsm{
						width: 50%;
					}

					@include xl{
						width: 50%;
					}
				}
			}

			a,label{
				background-color: $black;
				color: $white;
				display: inline-block;
				float: left;
				width: 100%;
				text-decoration: none;
				font-size: 1.2rem;
				padding: 2rem 4rem 2rem 2rem;
				position: relative;
				line-height: 1.2;
				display: flex;
				align-items: center;

				span{
					display: inline-block;
					line-height: 1.2;
					padding-right: 0.2rem;
				}

				a




				&:hover{
					cursor: pointer;

					i{
						&:before, &:after{
							top: ($size/100)*17;
						}
					}
				}
				

				svg{
					display: inline-block;
					position: relative;
					width: 1.2rem;
					height: 1rem;
					position: absolute;
					right: 2rem;
					top: 50%;
					margin-top: -0.5rem;

					&:before, &:after{
						background-color: $white;
					}

				}

				&:nth-child(2){
					background-color: $red;
				}

				
			}

			a{
				padding-right: 2rem;
			}
		}

		>a:last-child{
			width: 100%;
			background-color: $light-gray;
			color: $black;
			padding: 2rem 5%;
			display: inline-block;
			text-decoration: none;
			position: relative;
			font-size: 1.2rem;

			span{
				width: auto;
				display: inline-block;
				padding-left: 2rem;
			}

			svg{
				display: inline-block;
				margin-right: 0.2rem;
				position: relative;
				top: 2em;
				width: 1.2rem;
				position: absolute;
				left: 5%;
				height: 1rem;

				@include xl{
					top: 2em;
				}
			}
		}

		>input[type='checkbox']{
			display: none;

			&:checked ~ .tab{
				max-height: 1000px;
			}

			&:checked ~ header>label svg{
				
				.line1{
					transform: translateX(2.2px) translateY(-5px) rotate(45deg);
				}

				.line2{
					transform: translateX(0.7px) translateY(3px) rotate(-45deg);
				}
			}

		}	

		.tab{
			background-color: $black;
			margin-top: 0.1rem;

			display: block;
			max-height: 0;
			width: 100%;
			transition: max-height 0.75s;
			overflow: hidden;
			font-size: 1.4rem;

			ul{
				display: inline-block;
				margin: 0;
				width: 100%;
				padding: 2rem 0;

				li{
					color: $dark-gray;
					font-size: 1.2rem;
					margin: 0.25rem 10%;
				}
			}
			.img-container{
				padding: 0 0 3em;
				@include md{
					padding: 0 0 2em;
				}
			}
			img{
				width: 80%;
				display: block;
				margin: auto;
				margin-top: 1rem;
				max-width: 40rem;
				margin: auto;
			}

			span{
				color: $dark-gray;
				font-size: 1.2rem;
				display: inline-block;
				margin-left: 10%;
				width: 80%;
			}
		}
	}