footer{
	text-align: center;
	//background-color: $darker-gray;
	border-top: 2px solid $cl-footer-border-top;

	@include md{
		padding-top: 1rem;
	}

	>.columns{
		background-color: $white;
	}

	.menu{
		margin: 0;

		li{

			display: block;
			width: 100%;

			@include md{
				width: auto;
				display: inline-block;
				margin: auto 1rem;
				&:first-child{
					margin-left: 0;
				}
			}

			a{
				font-size: 1.3rem;
				text-decoration: none;
				text-align: center;
				width: 100%;
				display: block;
				padding: 1rem 0;
			}
		}
	}

	.share{
		width: 100%;
		margin: 2rem 0 3rem 0;
	}

	span, span a{
		color: $darkest2-gray;
		font-size: 1.3rem;
	}
	.left, .right ul{
		text-align: center
	}
	.left{
		@include md{
			text-align: left;
		}
	}
	.right{
		@include md{
			ul{
				text-align: right;
			}
		}
	}
}

#mainfooter>.row{
	border-top: 1px solid #ebeaf1;

	@include xxl{
		.left{
			padding-left: 0;
		}

		.right{
			padding-right: 0;
		}
	}
}