header.main{
	padding: 2.5rem 0;
	background-color: map-get($cl-header-background, sm);
	overflow: visible;

	@include md{
		// padding: 5rem 0 2.5rem 0;
		padding: 2rem 0 2.8rem 0;
		background-color: map-get($cl-header-background, md);
	}

	@include xl{
		background-color: transparent;
	}

	.column{
		display: flex;
		align-items: flex-end;

		@include md{
			justify-content: space-between;
			position: relative;
		}

		.hamburger{
			margin-right: 3.1rem;
		}

		.logo{
			display: block;
			width: 10rem;
			margin: auto;

			@include md{
				width: 14rem;
				margin: inherit;
				margin-left: 0;
				margin-right: auto;
			}

			svg{
				width: 100%;
				display: block;
				height: 4.3rem;
			}
		}

		.fa{
			color: $red;
			font-size: 1.8rem;
			margin-bottom: 0.5rem;

			

			@include md{
				float: right;
				margin: inherit;
				margin-bottom: 0.5rem;
			}

			

			&.fa-shopping-cart{
				margin-right: 0.5rem;
				padding-bottom: 0rem;

				span{
					display: none;
				}

				@include md{
					//right: 32rem;
					//position: absolute;
					margin-right: 2rem;
					padding-bottom: 0rem;
				}

				@include xl{
					margin-bottom: -0.2rem;
				}

				@media (min-width: 75em){
					position: absolute;
					right: 23rem;
					top: 2.4rem;
				}


				// @include xxl{
				// 	right: 80rem;
				// 	top: 2rem;

				// 	span{
				// 		display: inline-block;
				// 		color: $red;
				// 		font-size: 1.2rem;
				// 		font-family: $nimbus;
				// 		padding: 0 0.5rem 0 0.75rem;
				// 		position: relative;
				// 		top: -0.1rem;
				// 	}
				// }

			}

			&.fa-user{
				padding: 0.5em 0.1em 0.3em 0.5em;
				margin: 0;
				
				span{
					display: none;
				}

				@include md{
					padding: 0.3em .5em;
					margin: 0.3em 0;
					background-color: $red;
					color: $white;
					margin-bottom: 0.1rem;
				}

				@include xl{
					margin-bottom: -0.5rem;
				}

				@media (min-width: 70em) and (max-width: 75em){
				// 	transform: translateY(0.7rem);
				   // / transform: translate(0em, .1em);
				}

				@media (min-width: 75em){
					position: absolute;
					right: 15rem;
					top: 1.3rem;
					transform: translate(0em, 0em);

					span{
						font-family: $nimbus;
						font-size: 1.2rem;
						display: inline-block;
						padding: 0 0 0 0.75rem;
						position: relative;
						top: -0.1rem;
					}
				}
			}

			&.fa-search{
				color: #505056;
				font-size: 1.5rem;
				margin-bottom: 0.8rem;
			}
		}

		.hamburger{
			float: left;
			//@include hamburger(2rem);

			margin-bottom: 0.1rem;

			svg{
				height: 1.7rem;
				width: 3rem;
			}

			@include md{
				//@include hamburger(2.8rem);
				margin-bottom: -0.3rem;
				margin-right: 3rem;

				svg{
					height: 2rem;

				}
			}

			@include xl{
				display: none;
			}
		}

		form.search{
			display: none;
			background-color: #f6f8f6;
			position: absolute;
			left: -90%;
			top: 8rem;
			z-index: 9999;
			padding: 0 5rem 1rem 3.5rem;
			margin-bottom: -0.1rem;

			@include md{
				display: block;
				position: relative;
				left: 0;
				top: 0;
				width: 30%;
				padding: 0;
				margin-left: auto;
				z-index: 1;
				background-color: map-get($cl-header-background, md);
			}

			@media (min-width: 70em) and (max-width: 75em){
				transform: translateY(0.7rem);
				width: 17rem;
			}

			@media (min-width: 75em){
				background-color: transparent;
				width: 17rem;
				position: absolute;
				top: 1.4rem;
				right: 29.5rem;
			}

			

			
		}

		.share{
			margin: 0;
			width: auto;
			display: none;

			.fa{
				color: $darkest2-gray;
				font-size: 1.2rem;
			}

			@include md{
				display: block;
				padding: 0 2.5rem 0rem 2.5rem;
			}
			@media (min-width: 70em) and (max-width: 75em){
				padding: 0 1.5rem 0rem 1.5rem;
				transform: translateY(0.7rem);
				.fa{
					margin-bottom: 0;
				}
			}
			@media (min-width: 75em){
				position: absolute;
				right: 0;
				top: 2.1rem;

				.fa{
					margin-top: 0.6rem;
				}
			}
		}

	}

}