body{
	// background: $lightest-gray;
	&.noscroll{
		position: fixed;
		height: 100vh;
		overflow: hidden;
	}
}
.main-inner{
	background: $white;
	
	margin: auto;
	min-height: 100vh;
	// border-left: 1px solid $dark-gray;
	// border-right: 1px solid $dark-gray;
	main, header.main{
		margin: 0 auto;
	}
}
