
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - GRADIENT      - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.full-height-banner-overlay{
  position: absolute;
  top:0;bottom:0;left:0;right:0;margin:auto;
  background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, black), color-stop(60%, transparent), color-stop(84%, transparent));
  background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
  background: -o-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
  background: -ms-linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.39) 0%, transparent 60%, transparent 84%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - COMMON STYLES - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html, body{
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5{
  padding: 0!important;
  margin-bottom: 0!important;
}
.content{
  height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
}
a{color: inherit;}
a:hover{text-decoration: none!important;}
a:focus{text-decoration: none!important;}
.display-none{display: none!important;}
.section{width:100%; min-height:100%;}
.first-align{text-align:left;}
.second-align{text-align:center;}
.third-align{text-align:right;}
.nocolpadding{padding-left:0!important; padding-right:0!important;}
.menu-active{color: #2ec8f8!important}
.show-arrow-container{visibility: visible!important; opacity:1!important; transition: all .3s;}
.content-small{display: none;}
.content-big{display: block;}
.individual-work-content{visibility:none; opacity:0; transition:all .3s;}
.content{background-color: black;}
.content h2{color:#ffffff; position:relative; top:150px; font-family:'Titillium Web',sans-serif!important;font-weight: 300!important;}
.loading-svg-hide{visibility:none!important; opacity:0!important; transition:all .3s;}


@media all and (min-width: 768px) and (max-width: 991px) {

}
@media all and (max-width: 700px) {
  .first-align{text-align:left;}
  .second-align{text-align:left;}
  .third-align{text-align:left;}
}
@media all and (max-width: 500px) {
  .content-small{
    display: block;
  }
  .content-big{
    display: none;
  }
}
@media all and (max-width: 425px) {
  .section{width:100%; min-height:auto;}
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color: rgba(255,223,224,.0)!important;
  margin-bottom: 6px!important;
  border: none!important;
  padding-bottom: 6px;
  padding-top: 8px;
}
.gform_wrapper div.validation_error{
  display: none;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
  border: 1px solid #2ec8f8!important;
}
.gform_wrapper .validation_message{
  color: #2ec8f8!important;
  font-family: 'Titillium Web', sans-serif!important;
  font-weight: 300!important;
}
.gfield_error{
  max-width: 100%!important;
}
.gform_wrapper .gfield_required{
  color: #2ec8f8!important;
  position: absolute!important;
  margin-left: 10px!important;
  margin-top: 38px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - MAIN MENU - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#header{
  position:fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #000000;
  z-index: 500000;
}
#header h1{
  margin-top: 20px;
  padding-top: 10px;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
#header h1 a{
  color: #2ec8f8;
}
#header .description{
  color: #feffff;
  font-size: 12px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
#main-menu{
	font-weight: normal;
	position: absolute;
	top: 20px;
	right: 0;
}
.main-menu{
  position: absolute;
  top: 30px;
  right: 0;
  color: #ffffff;
  font-size: 18px;
  overflow: hidden;
}
.main-menu li{
	display: inline;
	font-size: 17px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
.main-menu li:last-child{
	border-right: none;
	margin-right: 20px;
  border-bottom: 0;
}
.main-menu .divider{
  margin-left: 10px;
  margin-right: 10px;
}
.main-menu a{
  color: #ffffff;
  transition: all .3s;
}
.main-menu a:hover{
  color: #2ec8f8;
}
.main-menu a:hover{
	text-decoration:none !important;
}
.hamburger:focus{outline: none;}
.hamburger{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}
.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
  background-color: #2ec8f8;
  width: 30px;
  height: 3px;
}
@media all and (min-width: 501px) and (max-width: 991px) {
  .main-menu{
    top: 10px;
  }
}
@media all and (min-width: 551px){
  .hamburger{
    display: none;
  }
}
@media all and (max-width: 550px) {
  .main-menu{
    top: -15px;
    background-color: #000;
    padding-left: 0;
    width: 100%;
    text-align: center;
    height: 0px;
    transition: all .3s;
  }
  .main-menu .divider{
    display: none;
  }
  .main-menu a{
    display: block;
  }
  .main-menu li{
    width: 100%;
    height: 75px;
    display: block;
    border-bottom: 1px solid #252525;
    line-height: 75px;
    font-size: 18px;
  }
  .main-menu-expand{height: 300px!important;}
}

@media all and (max-width: 500px) {
  #header{
    height: 60px;
  }
  #header h1{
    margin-top: 15px;
    font-size: 18px;
  }
  #header .description{
    font-size: 10px;
  }
  .hamburger{
    top: -10px;
  }
  .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after{
    background-color: #2ec8f8;
    width: 30px;
    height: 2px;
    /*margin-top: 2px;
    margin-bottom: 2px;*/
  }
  .main-menu li{
    height: 55px;
    line-height: 55px;
    font-size: 18px;
  }
  .main-menu-expand{height: 220px!important;}
}

@media all and (max-width: 425px) {
  hamburger:hover {
    opacity: 1;
  }
}
@media all and (max-width: 375px) {
  .main-menu .divider{
    margin-left: 0px;
    margin-right: 0px;
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - -    INTRO    - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#intro-wrapper {
  background-color: #000000;
  height: 100vh;
	position: absolute;
  top: 0;
  overflow: hidden;
}
.intro-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 500;
}
.loading-svg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  transition: all .3s;
}

#embed-container iframe,
#embed-container object,
#embed-container embed {
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
  bottom: 0;
  margin: auto;
	min-width: 1080px;
	min-height: 800px;
	width: 100%;
	height: 100%;
}
.intro-background{
  width: 100%;
  height: 100vh;
  background-color: #000000!important;
}

@media all and (max-width: 425px) {
  #intro-wrapper {
    background-color: #000000;
    height: 500px;
  }
  .intro-background{
    height: 500px;
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - -    WORK     - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#work-wrapper{
  background-color: #ffffff;
  margin-top: 100vh;
}
#work-wrapper h2{
  margin-top: 0;
  color: #2ec8f8;
  text-transform: uppercase;
  line-height: 75px;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
.inner-work-wrapper{
  /*height: calc(100vh - 40px);*/
  /*height: 825px;*/
  width: 100%;
  background-color: #ffffff
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.wide-wrapper{
  /*margin-top: -30px;*/
  width: auto;
  white-space:nowrap;
}
.wide-wrapper a{
  width: 100%;
  height: 100%;
}
.wide-wrapper .row{
  margin-top: -5px;
}
.individual-work{
  margin-right: -4px;
  height: 300px;
  /*height: calc(33vh - 45px);*/
  width: 455px;
  display: inline-block;
  background-size:120%!important;
  background-position-y: 50%!important;
}
.individual-work-content{
  padding: 80px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.individual-work-content h3{
  margin-top: 0;
  color: #2ec8f8;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}
.individual-work-content p{
  margin-top: 0;
  margin-bottom: 0!important;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-style: italic;
}
.individual-work-content .individual-work-button{
  margin-top: 10px;
  margin-right: 20px;
  display: inline-block;
  width: 150px;
  height: 45px;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;
  line-height: 45px;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  transition: all .3s;
}
.individual-work-content .individual-work-button:hover{
  cursor: pointer;
}
.individual-work-content .individual-work-button1{
  border: 1px solid #2ec8f8;
  color: #2ec8f8;
  transition: all .3s;
}
.individual-work-content .individual-work-button1:hover{
  background-color: #2ec8f8;
  color: #ffffff;
}
.individual-work-content .individual-work-button2{
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: all .3s;
}
.individual-work-content .individual-work-button2:hover{
  border: 1px solid #2ec8f8;
  background-color: #2ec8f8;
  color: #ffffff;
}

.individual-work:hover > .individual-work-content{
  visibility: visible!important; opacity:1!important ;transition: all .3s;
}

.arrow-container{
  position: absolute;
  top: 0;
  width: 60px;
  height: 100%;
  /*height: calc(100vh - 151px);*/
  background-color: rgba(0, 0, 0, .5);
  transition: all .3s;
}
.arrow-right-container{
  right: 0;
}
.arrow-right-container:hover{
  background-color: rgba(0, 0, 0, .8);
  /*background-color: rgba(255, 255, 255, .5);*/
  cursor: pointer;
}
.arrow-right{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 30px;
}
.arrow-left-container{
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.arrow-left-container:hover{
  background-color: rgba(0, 0, 0, .8);
  /*background-color: rgba(255, 255, 255, .5);*/
  cursor: pointer;
}
.arrow-left{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 30px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@media all and (min-width: 500px) and (max-width: 991px) {
  .arrow-container{
    /*height: calc(100vh - 161px);*/
  }
}
@media all and (max-width: 500px) {
  .arrow-container{
    height: calc(100% - 5px);
  }
}
@media all and (max-width: 425px) {
  .individual-work{
    height: 300px;
    max-width: 90vw;
    background-size:100%!important;
    background-position-y: 50%!important;
  }
  #work-wrapper{
    background-color: #ffffff;
    margin-top: 500px;
  }
  .arrow-container{
    display: none;
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - -    ABOUT    - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#about-wrapper{
  background-color: #ffffff;
  padding-bottom: 60px;
}
#about-wrapper h2{
  margin-top: 60px;
  line-height: normal;
  color: #2ec8f8;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
#about-wrapper .about-main{
  margin-top: 40px;
  font-size: 24px;
  color: #231f20;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
}
#about-wrapper .about-sub{
  margin-top: 30px;
  font-size: 18px;
  color: #8d8d8d;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
#about-wrapper .about-img{
  margin-top: 60px;
  width: 100%;
  height: 380px;
  /*max-width: 500px;*/
}
.about-button{
  margin-top: 30px;
  display: inline-block;
  width: 150px;
  height: 45px;
  border: 1px solid #2ec8f8;
  border-radius: 2px;
  background-color: #ffffff;
  color: #2ec8f8;
  text-align: center;
  text-transform: uppercase;
  line-height: 45px;
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  transition: all .3s;
}
.about-button:hover{
  background-color: #2ec8f8;
  color: #ffffff;
}
.about-button-filled{
  background-color: #2ec8f8;
  color: #ffffff;
  margin-left: 20px;
  transition: all .3s;
}
.about-button-filled:hover{
  background-color: #149bc5;
  border: 1px solid #149bc5;
}

@media all and (max-width: 1028px) {
  #about-wrapper .about-main{
    margin-top: 25px;
  }
  #about-wrapper .about-sub{
    margin-top: 15px;
  }
}
@media all and (min-width: 992px) {
  #about-wrapper{
    min-height: 500px;
  }

}
@media all and (max-width: 991px) {
  #about-wrapper .about-img{
    margin-top: 40px;
    height: 300px;
  }
  #about-wrapper .about-main{
    margin-top: 30px;
    font-size: 20px;
  }
  #about-wrapper .about-sub{
    margin-top: 20px;
    font-size: 16px;
  }
  #about-wrapper h2{
    margin-top: 40px;
  }
}
@media all and (max-width: 500px) {
  #about-wrapper .about-img{
    height: 200px;
  }
  #about-wrapper h2{
    margin-top: 0;
    line-height: 75px;
  }
  #about-wrapper .about-main{
    margin-top: 0;
  }
}
@media all and (max-width: 353px) {
  .about-button-filled{
    margin-left: 15px;
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - -    SPONSORS  - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#sponsor-wrapper{
  background-color: #272729;
  /*min-height: 670px;*/
  padding-bottom: 50px;
  overflow: auto;
}
#sponsor-wrapper h2{
  margin-top: 65px;
  color: #2ec8f8;
  text-transform: uppercase;
  line-height: normal;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
.sponsor-content{
  margin-top: 50px;
  text-align: center;
}
.sponsor-image-container{
  height: 130px;
  width: 24%;
  /*width: 32%;*/
  display: inline-block;
}
.sponsor-image-container:last-child{
  height: auto;
}
.sponsor-image{
  width: 30%;
  max-width: 80px;
}
@media only screen and (max-width: 641px){
  #sponsor-wrapper h2{
    margin-top: 0;
    line-height: 75px;
  }
  .sponsor-content{
    margin-top: 5px;
  }
}
@media all and (max-width: 550px) {
  .sponsor-image-container{
    width: 32%;
    height: 120px;
  }
  .sponsor-image{
    width: 50%;
  }
}
@media all and (max-width: 425px) {
  .sponsor-image-container{
    height: 90px;
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - -    CONTACT  - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#contact-wrapper{
  background-color: #ffffff;
  padding-bottom: 50px;
  overflow: auto;
}
#contact-wrapper h2{
  margin-top: 65px;
  color: #2ec8f8;
  text-transform: uppercase;
  line-height: normal;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
#contact-wrapper .icon-container{
  margin-top: 50px;
}
.contact-icon-link img{
  opacity: .3;
  filter: invert(100%);
}
#contact-wrapper .contact-icon-paragraph{
  color: #272729;
  display: inline;
  margin-left: 5px;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
#contact-wrapper .contact-icon-link{
  margin-left: 20px;
  transition: all .3s;
}
#contact-wrapper .contact-icon-link:hover{
  opacity: .6;
}
#contact-wrapper hr{
  margin-top: 30px;
  margin-bottom: 0;
  background-color: #d6d6d6;
  height: 1px;
  border: 0;
}
.contact-inner{
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.contact-inner h3{
  color: #2ec8f8;
  text-align: center;
  line-height: 33px;
  font-size: 26px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
.contact-inner p{
  margin-top: 30px;
  color: #272729;
  text-align: center;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
.gform_wrapper ul li.gfield{
  margin-top: 0!important
}
.ginput_container_textarea{
  margin-top: -10px!important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #58585b;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #58585b;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #58585b;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #58585b;
}
::-webkit-textarea-placeholder { /* WebKit, Blink, Edge */
    color:    #58585b;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #58585b;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #58585b;
   opacity:  1;
}
:-ms-textarea-placeholder { /* Internet Explorer 10-11 */
   color:    #58585b;
}

input:focus, textarea:focus {
  outline: none;
}

#field_1_1 .gfield_visibility_visible{
  padding-right: 0;
}
.contact-inner .formgroup_wrapper input[type='text']{
  width: 100%!important;
  height: 50px!important;
  background-color: #fff;
  color: #272729;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  padding: 20px!important;
  font-size: 14px;
  box-shadow:inset 0 0 0px 0px #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Titillium Web', sans-serif!important;
  font-weight: 300;
}
.contact-inner .formgroup_wrapper input[type='text']:focus{
  border: 1px solid #272729;
}
.contact-inner .formgroup_wrapper textarea{
  width: 100%!important;
  height: 100px!important;
  background-color: #fff;
  color: #272729;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  padding: 20px!important;
  font-size: 14px;
  box-shadow:inset 0 0 0px 0px #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Titillium Web', sans-serif!important;
  font-weight: 300;
}
.contact-inner .formgroup_wrapper textarea:focus{
  border: 1px solid #272729;
}
.gform_wrapper .gform_footer{
  padding: 0!important;
  margin: 5px 0 0 0!important;
}
.contact-inner .formgroup_wrapper input[type='submit']{
  width: calc(100% - 15px)!important;
  height: 50px!important;
  background-color: #2ec8f8;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  transition: all .3s;
}
.contact-inner .formgroup_wrapper input[type='submit']:hover{
  background-color: #149bc5;
}

@media all and (min-width: 768px) and (max-width: 991px) {

}
@media all and (min-width: 701px) and (max-width: 767px) {

}
@media all and (max-width: 700px) {
  #contact-wrapper .col-xs-4{
   width: 100%;
  }
  #contact-wrapper .icon-container{
    margin-top: 15px;
  }
  #contact-wrapper h2{
    margin-top: 35px;
  }
}
@media only screen and (max-width: 641px){
  #contact-wrapper h2{
    margin-top: 0;
    line-height: 75px;
  }
  .gform_wrapper{
    /*padding: 0 15px 0 15px;*/
  }
  .gform_body{
    width: 100%!important;
  }
  #contact-wrapper{
    padding-bottom: 0;
  }
  .contact-inner .formgroup_wrapper input[type='submit']{
    width: 100%!important;
  }
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - -    FOOTER   - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
footer{
  background-color: #19191b;
  min-height: 60px;
}
footer p{
  color: #e3e3e3;
  text-align: center;
  line-height: 60px;
  margin: 0;
  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
@media all and (max-width: 767px) {
  footer p{
    font-size: 14px;
  }
}
@media all and (max-width: 468px) {
  footer p{
    padding-top: 10px;
    line-height: 20px;
    font-size: 12px;
  }
}
