/* 
Font Styles
*/

.thin{
	font-style: normal;
	font-weight: 200;
}

.light{
	font-style: normal;
	font-weight: 300;
}

.regular{
	font-style: normal;
	font-weight: 400;
}

.semi-bold{
	font-style: normal;
	font-weight: 600;
}

.bold{
	font-style: normal;
	font-weight: 700;
}


/* 
Fonts

List your fonts in following format:

Titel : styles sperate by ,

A less value from the font you want to list.

*/

/* 
Open Sans : .light,.light-italic,.normal,.normal-italic,.bold,.bold-italic,.extra-bold,.extra-bold-italic
*/

$titillium: "Titillium Web", "Whitney SSm B", sans-serif;



